@charset "UTF-8";

body {
    background-color: rgb(112, 242, 247);
}
div#primeiro {
    background-color: rgb(252, 31, 31);
    height: 100px;
    width: 300px;
    text-align: center;
    align-content: center;
    margin: auto;
}
div#segundo {
    background-color: orangered;
    height: 200px;
    width: 500px;
    font-size: 2em;
    text-align: center;
    align-content: center;
    margin: auto;
}
div#terceiro {
    background-color: orange;
    height: 300px;
    width: 50%;
    font-size: 3em;
    text-align: center;
    align-content: center;
    margin: auto;
}