@charset "UTF-8";

div#box1 {
    width: 200px;
    height: 200px;
    background-color: rgb(104, 255, 255);
    padding: 20px;
    border-radius: 20px 30px 40px 50px;
}
div#box2 {
    width: 200px;
    height: 200px;
    background-color: rgb(104, 255, 255);
    padding: 50px;
    border-radius: 20px;
    box-sizing: border-box;
}
div#box3 {
    width: 500px;
    height: 500px;
    padding: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    background-image: url('../paisagem.jpg');
    background-position: center center;
    background-size: cover;
    margin: auto;}
div#box4 {
    width: 500px;
    height: 500px;        padding: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    background-image: url('../paisagem.jpg');
    background-position: center center;
    background-size: cover;
    margin: auto;
}
div#box4 > div {
    background-color: rgba(0, 0, 0, 0.500);
    padding: 20px;
    border-radius: 20px;
}